.tableWrapper {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  // gap: 1px;
  border-radius: 4px;
  max-height: 63vh;
  .tableHeadersWrapper {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px !important;
    padding: 0 20px;
    background-color: rgba(234, 235, 255);
    padding: 20px;
    z-index: 9;
  }
}
.accordionItem {
  background-color: rgba(255, 255, 255, 60%);
  font-family: "interRegular", sans-serif !important;
}

.table {
  margin-top: 20px;
}

.tableHeader {
  display: flex;
  //   font-weight: bold;
  padding: 10px 0;
  color: var(--btn-blue-text);
  font-family: "interMedium", sans-serif !important;
}

.tableHeader {
  width: 35%;
  // max-width: 100%;
  // min-width: 250px;
  padding: 10px 0px;
}
.tableHeader:first-child {
  min-width: 400px;
  max-width: 100%;
}

.panelContainer,
.panelContainerChild {
  .errorMsg {
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "interRegular";
    font-size: 14px;
    width: 100%;
    color: #adadad;
    p {
      font-family: "interSemiBold", sans-serif;
      padding: 0 5px;
    }
  }
  cursor: pointer;
  padding: 6px 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  // gap: 10px;
  height: 50px;
  background: rgba(255, 255, 255, 60%);
}

.panelActive {
  background: #fff;
  // border-bottom: 1px solid #00000010 !important;
}

.panelActiveChild {
  background: #fff;
  // padding-left: 48px;
  // border-bottom: 1px solid #00000010 !important;
}

.panelInactive {
  background: #fff;
}

.panelIconStyle {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: var(--a4-grey);
  margin-right: 10px;
}

.panelIconActive {
  margin-right: 10px;
  @extend .panelIconStyle;
  transform: rotate(90deg) !important;
  color: var(--a4-grey) !important;
}
.panelIcon {
  user-select: none !important;
  -webkit-user-drag: none !important;
  transform: rotate(0deg);
  @extend .panelIconStyle;
}

.panelText {
  color: #414141;
}

.panelChild {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s, opacity 0.2s;
  .item,
  .actionItem {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 45px;
    width: 35%;
    // min-width: 200px;
    // max-width: 100%;
    // max-height: 72px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      /* display: -webkit-box; */
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 250px;
      height: 16px;
    }
    .draftPill {
      height: 20px;
      border-radius: 4px;
      font-size: 11px;
      font-family: "interMedium", sans-serif !important;
      padding: 5px 11px;
      letter-spacing: 0.7px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* box-shadow: 0 1px 5px #00000030; */
      color: #eff5ff;
      background: #666666;
      border: 0;
    }
    img {
      width: 13px;
      margin-right: 8px;
    }
  }
  .actionItem {
    gap: 12px;
    img {
      width: 22px;
      margin: 0;
    }
  }
  .item:first-child {
    // transform: translateX(25px) !important;
    // width: 35%;
    max-width: 100%;
    min-width: 400px;
  }
  .itemField {
    // width: 35%;
    padding: 10px;
  }
  .itemContainer,
  .draftDataContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #adadad20;
    padding: 0 20px;
    padding-left: 42px;
    transition: all 0.1s !important;
    &:hover {
      background: #adadad15 !important;
      transition: all 0.1s !important;
    }
  }
  .draftDataContainer {
    background-color: #55555515 !important;
  }
}

.defaultTableRow {
  .item,
  .actionItem {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 45px;
    width: 35%;
    font-family: "interRegular", sans-serif !important;
    // min-width: 200px;
    // max-width: 100%;
    // max-height: 72px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      /* display: -webkit-box; */
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 250px;
      height: 16px;
    }
    .draftPill {
      height: 20px;
      border-radius: 4px;
      font-size: 11px;
      font-family: "interMedium", sans-serif !important;
      padding: 5px 11px;
      letter-spacing: 0.7px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* box-shadow: 0 1px 5px #00000030; */
      color: #eff5ff;
      background: #666666;
      border: 0;
    }
    img {
      width: 13px;
      margin-right: 8px;
    }
  }
  .actionItem {
    gap: 12px;
    img {
      width: 22px;
      margin: 0;
    }
  }
  .item:first-child {
    // transform: translateX(25px) !important;
    // width: 35%;
    max-width: 100%;
    min-width: 400px;
  }
  .itemField {
    // width: 35%;
    padding: 10px;
  }
  .itemContainer,
  .draftDataContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #adadad20;
    padding: 0 20px;
    padding-left: 42px;
    transition: all 0.1s !important;
    &:hover {
      background: #adadad15 !important;
      transition: all 0.1s !important;
    }
  }
  .draftDataContainer {
    background-color: #55555515 !important;
  }
}

.panelChild.active {
  max-height: 1000px;
  opacity: 1;
}
.emptyPill {
  background-color: #55555515;
  color: #555;
  border-radius: 50px;
  font-size: 12px;
  font-family: "interMedium", sans-serif;
  text-align: center;
  margin-left: 10px;
  padding: 6px 14px;
}

.defaultTableRow {
  .panelContainer {
    border-bottom: 1px solid #adadad20;
    .item:first-child {
      transform: translateX(0) !important;
      min-width: 50% !important;
    }
  }
}
.defaultTableHeader:first-child {
  min-width: 50% !important;
}
.defaultLoader {
  height: 50px;
  padding: 0 20px;
  gap: 10%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .accordionItem {
    width: 30%;
  }
}
.itemContainerWrapper {
  background: #fff;
}
