.tableWrapper{
    border-collapse: collapse;
    width: 100%;
    th{
        font-size: 15px;
        color: #555;
        font-family: "interMedium", sans-serif;
        padding: 15px;
    }
    td{
        font-family: "interRegular", sans-serif;
        font-size: 13px;
        line-height: 18px;
        padding: 8px 20px 8px 20px;
    }
    th,td{
        text-align: center;
        border: 1px solid #DDD;
    }
    tr:hovor{
        background-color: #D6EEEE;
    }
}
.noDataFound {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;

    span {
        color: #adadad;
        font-size: 14px;
        font-family: interRegular, sans-serif !important;
    }
}