.listItem{
    line-height: 20px;
    align-items: flex-start!important;
    font-family: "interRegular", sans-serif !important;
}
.paraSection {
    .fileAttachmentIcon{
        width: 15px !important;
        height: 15px !important;
    }
    img {
        width: 400px;
        height: 400px;
    }
    p{
        line-height: 20px;
    }
}
.noDataFound {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;

    span {
        color: #adadad;
        font-size: 14px;
        font-family: interRegular, sans-serif !important;
    }
}