.appxContentWrapper {
  // padding: 10px 15px;
  // max-height: 40vh !important;
  height: 100%;
  // overflow: auto;
  .label {
    font-family: "interMedium", sans-serif;
    margin-bottom: 10px;
    display: block;
  }
}
.scrollableApxSection {
  height: calc(100% - 55px);
  max-height: calc(100% - 55px);
  // overflow: auto;
}
.customInitialContent {
  height: calc(78vh - 235px) !important;
  max-height: calc(78vh - 235px) !important;
}
