.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f6;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  min-height: 72px;
}
.authors {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  .label {
    font-family: "interRegular", sans-serif !important;
    color: #414141;
    font-size: 13px;
  }
}
.sectionName {
  font-size: 20px;
  color: #424242;
  font-family: "interMedium", sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.appendixPill {
  background: #555;
  color: #eff5ff;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 12px;
  // margin-left: 10px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "interMedium", sans-serif !important;
}
