.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.initialContent {
  // height: 58vh;
  height: calc(95vh - 287px);
  max-height: calc(95vh - 287px);
  // height: calc(65vh - 287px);
  // max-height: calc(65vh - 287px);
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #00000020;
  @extend .flexCenter;
  flex-direction: column;
  .contentTypeBox {
    height: 100px;
    border-radius: 4px;
    background-color: #fafafa;
    @extend .flexCenter;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
    span {
      font-family: "interMedium", sans-serif;
      color: #424242;
    }
    .actionsBtns {
      @extend .flexCenter;
      gap: 10px;
    }
  }
}
.emptyMsg {
  @extend .flexCenter;
  gap: 5px;
  font-size: 14px;
  font-family: "interMedium", sans-serif;
  color: #adadad;
  font-style: italic;
}
