.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentWrapper {
  padding: 0px 45px;
}
.popupWrapper {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 4px 45px rgba(0, 0, 0, 15%) !important;
}
.popupHeader,
.AlertPopupHeader,
.popupHeaderWithoutCloseIcon {
  @extend .flexCenter;
  width: 100%;
  margin: 28px 36px;
  margin-bottom: 25px;
  font-family: "interSemiBold", sans-serif;
  font-size: 20px;
}
.popupHeaderWithoutCloseIcon {
  margin: 28px 0px;
}
.popupFooter,
.popupFooterConfirmation,
.AlertPopupFooter {
  @extend .flexCenter;
  width: 100%;
  margin: 25px 0;
  // margin-top: 15px;
  gap: 20px;
}
.popupFooterConfirmation {
  margin: 10px 0;
  margin-bottom: 20px;
}
.contentContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  // gap: 5px;
}
// alertpopup styles
.AlertPopupWrapper {
  @extend .flexCenter;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
}
.AlertPopupHeader {
  margin: 0 0;
  @extend .flexCenter;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AlertPopupFooter {
  margin: 0;
}
.StatusImgWrapper {
  width: 86px;
  height: 86px;
  animation: slideAndFade 0.3s both ease;
}
@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.alertBoxContent {
  @extend .flexCenter;
}
.AlertPopupSecondaryText {
  font-size: 14px;
  color: #555555ac;
  line-height: 20px;
  text-align: center;
  font-family: "interMedium", sans-serif !important;
}
.confirmTitleText {
  font-size: 18px;
  font-family: "interMedium", sans-serif !important;
  color: #000;
  margin: 10px 0;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
}
