.stepperFormWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(255, 255, 255, 60%);
  border-radius: 15px;
  box-shadow: 0px 4px 13px -12px rgba(0, 0, 0, 5%);
  padding: 35px 10px;
  height: 400px;
}
.stepperFormHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepperFormBody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .question {
    font-size: 20px;
    text-align: center;
    color: #222;
    font-family: "interMedium", sans-serif;
  }
}

.stepperFormFooter {
  width: 100%;
}
.questionWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.questionWrapperActive {
  display: flex;
}
.questionInputsWrapper {
  width: 370px;
}
