.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentSecMain {
  border: 1px solid #ebeaec;
  padding: 10px;
  border-radius: 5px;
  // max-height: 50vh;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.2s !important;
  .commentsTitle {
    font-size: 14px;
    color: #555;
    font-family: "interMedium", sans-serif;
  }
}
.closedCommentSection {
  border: 1px solid #ebeaec;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  position: relative;
  transition: all 0.2s !important;
  .commentsTitle {
    font-size: 14px;
    color: #555;
    font-family: "interMedium", sans-serif;
  }
  // width: 0;
  overflow: hidden;
  border-left: 1px solid #ebeaec;
  padding: 0;
  opacity: 0;
}
.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebeaec;
  gap: 10px;
}
.commentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 90%;
  width: 100%;
  overflow: auto;
}
.comments {
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px 0px 10px 10px;
  margin-bottom: 6px;
  width: 94%;
  background: linear-gradient(
    95.74deg,
    #9f80ff -14.38%,
    #6b5cab -7.97%,
    #27195e 174.15%
  );

  .commentAuthor {
    border-bottom: 1px solid #ffffff21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    span {
      font-size: 11px;
      color: #ffffff;
      font-family: "interMedium", sans-serif;
    }
    .role {
      text-align: center;
      background: #d9d9d94d;
      padding: 4px 7px;
      border-radius: 3px;
      color: #ffffff;
      font-size: 11px;
      font-family: "interRegular", sans-serif;
    }
  }
  p {
    font-size: 12px;
    font-weight: 400;
    padding: 4px 0px 8px 0px;
    line-height: 16px;
    font-family: "interRegular", sans-serif;
  }
  .date {
    display: flex;
    justify-content: end;
    font-size: 10px;
    color: #ebeaec;
    font-family: "interRegular", sans-serif;
  }
}
    .rejectedComments {
      color: #fff;
      padding: 8px 10px;
      border-radius: 10px 0px 10px 10px;
      margin-bottom: 6px;
      width: 94%;
      background: linear-gradient(95.74deg,
          #e22c4a -14.38%,
          #be5e5e -7.97%,
          #d92525 174.15%);
          .commentAuthor {
              border-bottom: 1px solid #ffffff21;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 5px;
              margin-bottom: 5px;
          
              span {
                font-size: 11px;
                color: #ffffff;
                font-family: "interMedium", sans-serif;
              }
          
              .role {
                text-align: center;
                background: #d9d9d94d;
                padding: 4px 7px;
                border-radius: 3px;
                color: #ffffff;
                font-size: 11px;
                font-family: "interRegular", sans-serif;
              }
            }
          
            p {
              font-size: 12px;
              font-weight: 400;
              padding: 4px 0px 8px 0px;
              line-height: 16px;
              font-family: "interRegular", sans-serif;
            }
          
            .date {
              display: flex;
              justify-content: end;
              font-size: 10px;
              color: #ebeaec;
              font-family: "interRegular", sans-serif;
            }
    }

.closeBtn {
  @extend .flexCenter;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  background-color: #fff;
  @extend .flexCenter;
}
.commentsBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 10px;
  background-color: #fff;
  border: 1px solid #adadad25;
  border-radius: 4px;
}
.sendBtn {
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  padding: 0 10px;
  @extend .flexCenter;
  cursor: pointer;
  img {
    width: 15px;
    height: 15px;
  }
}
.commentBoxInput {
  min-width: 90% !important;
}
.commentBoxWrapper {
  width: 100%;
  max-height: 100%;
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.commentCardWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &:first-child {
    margin-top: 10px;
  }
}
.commentAuthorPersona {
  margin-top: -13px;
  margin-left: 5px;
}
