.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  // padding-top: 0;
}
.backBtn {
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  img {
    width: 12px;
    height: 12px;
  }
}
.headerTitle {
  font-size: 20px;
  color: #013747;
  margin-right: 30px;
}
.headerSec {
  display: flex;
  align-items: center;
  width: 60%;
  margin-right: 15px;
}
.documentSec {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 3px 13px 3px 13px;
  border-radius: 4px;
  margin-right: 15px;
  gap: 24px;
  height: 38px;
  h3 {
    color: #555555;
    font-weight: 400;
    margin-right: 30px;
    font-size: 16px;
    font-family: "interRegular", sans-serif !important;
  }
  span {
    border-radius: 15px;
    background: #eafffb;
    color: #158e78;
    padding: 3px 10px 5px 10px;
    font-size: 12px;
  }
}
.documentStatus {
  border-radius: 15px;
  border: 1px solid #995c13;
  background: #fff1e0;
  color: #856237;
  padding: 3px 10px 5px 10px;
  font-size: 14px;
}
.editBtnConfig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
  min-width: 40px !important;
  gap: 7px;
  border: 0 !important;
  outline: 0 !important;
  background-color: #593abb16 !important;
  box-shadow: 0px 2px 9px -7px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
