.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.backBtn {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    img {
        width: 12px;
        height: 12px;
    }
}
.headerTitle{
    font-size: 20px;
    color: #013747;
    margin-right: 30px;
}
.headerSec{
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 15px;
}
.documentSec{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 3px 13px 3px 13px;
    border-radius: 4px;
    margin-right: 15px;
    gap: 24px;
    height: 38px;
    h3{
        color: #555555;
        font-weight: 400;
        margin-right: 30px;
        font-size: 16px;
    }
    span{
        border-radius: 15px;
        background: #EAFFFB;
        color: #158E78;
        padding: 3px 10px 5px 10px;
        font-weight: 500;
        font-size: 12px;
    }
}
.documentStatus{
    border-radius: 15px;
    border: 1px solid #995C13;
    background: #FFF1E0;
    color: #856237;
    padding: 3px 10px 5px 10px;
    font-size: 14px;
    font-weight: 500;
}