.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
// task card styes
.taskCard {
  width: 374px;
  min-height: 165px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 24px -9px rgba(0, 0, 0, 0.1);
  position: relative;
  @extend .flexcenter;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 12px;
  padding-top: 0;
  .cardIndicator {
    border-radius: 7px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #1068a8;
    width: 23px;
    height: 20px;
    margin-bottom: 5px;
  }
  .cardTopSection {
    @extend .flexcenter;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    .cardHeader {
      @extend .flexcenter;
      width: 100%;
      justify-content: space-between;
      .cardTitle {
        font-size: 17px;
        font-family: "interSemiBold", sans-serif;
        color: #414141;
      }
    }
    .cardContent {
      @extend .flexcenter;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .secondaryText {
        font-size: 13px;
        color: var(--ad-grey);
        font-family: "interRegular", sans-serif;
      }
    }
  }
  .cardBottomSection {
    @extend .flexcenter;
    justify-content: space-between;
    width: 100%;
    .actionBtn {
      font-size: 13px;
      border: 1px solid #1068a8;
      padding: 6px 10px;
      border-radius: 4px;
      outline: 0 !important;
      cursor: pointer;
      font-family: "interMedium", sans-serif;
      color: #1068a8;
      background-color: transparent !important;
    }
    .dueDate {
      @extend .flexcenter;
      gap: 6px;
      transform: translateY(5px);
      img {
        width: 12px;
        height: 12px;
      }
      .dueDateText {
        color: #adadad;
        font-size: 12px;
        font-family: "interRegular", sans-serif;
      }
    }
  }
}
