.statusPill {
  padding: 4px 12px;
  min-width: 112px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "interMedium", sans-serif !important;
  text-transform: capitalize;
  border-radius: 40px;
  height: 27px;
  user-select: none !important;
  -moz-user-select: none !important;
}

.rolesPill {
  padding: 4px 12px;
  min-width: 112px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "interMedium", sans-serif !important;
  text-transform: capitalize;
  border-radius: 40px;
  min-height: 23px;
}

.ontrackDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #4caf50; /* Green color, change as needed */
}

.overdue {
  background-color: #f44336; /* Red color, change as needed */
  color: white;
}

.notStarted {
  background-color: #eaeaea; /* Grey color, change as needed */
  color: #414141;
}

.inDevelopment {
  background-color: #fff2e2; /* Blue color, change as needed */
  color: #995c13;
  padding: 4px 20px !important;
}

.inReview {
  background-color: #9c27b0; /* Purple color, change as needed */
  color: white;
}

.inRework {
  background-color: #ff5722; /* Deep orange color, change as needed */
  color: white;
}

.inApproval {
  background-color: #673ab7; /* Deep purple color, change as needed */
  color: white;
}

.approved {
  background-color: #4caf50; /* Green color, change as needed */
  color: white;
}

.current {
  background-color: #ffc107; /* Amber color, change as needed */
  color: black; /* Dark text for contrast */
}

.hidden {
  background-color: #607d8b; /* Blue-grey color, change as needed */
  color: white;
}

/* Role-specific styles */
.primaryAuthor {
  @extend .rolesPill;
  background-color: #e2eeff; /* Yellow color, change as needed */
  color: #1068a8;
}

.sectionAuthor {
  @extend .rolesPill;
  background-color: #eafffb; /* Cyan color, change as needed */
  color: #158e78;
}

.consultant {
  @extend .rolesPill;
  background-color: #fff6e5; /* Orange color, change as needed */
  color: #e79901;
}

.reviewer {
  @extend .rolesPill;
  background-color: #795548; /* Brown color, change as needed */
  color: white;
}

.approver {
  @extend .rolesPill;
  background-color: #8bc34a; /* Light green color, change as needed */
  color: black;
}

.SM {
  font-size: 12px;
  font-family: "interMedium", sans-serif !important;
  padding: 2px 4px;
}

.MD {
  font-size: 14px;
  padding: 4px 8px;
}

.XL {
  font-size: 18px;
  padding: 8px 16px;
}
