.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionsWrapper {
  @extend .flexCenter;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  .sectionHeader {
    width: 70%;
    @extend .flexCenter;
    justify-content: space-between;
    .sectionTitle {
      font-size: 16px;
      color: #000;
      font-family: "interMedium", sans-serif;
    }
  }
  .sections {
    @extend .flexCenter;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    max-height: 250px;
    overflow: auto;
    padding: 10px;
    padding-bottom: 25px;
    .sectionRow,
    .sectionRowActive {
      @extend .flexCenter;
      position: relative;
      justify-content: flex-start;
      gap: 20px;
      width: 100%;
      max-width: 912px;
      min-width: 912px;
      border: 0;
      height: 46px;
      border-radius: 8px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 12%);
      width: 100%;
      background-color: #fff;
      padding-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 12%);
    }
    .sectionRowActive {
      border: 1px solid #2068a850;
      box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.03) !important;
      .sectionName {
        color: #013747;
      }
      .dragHandle {
        border-right: 1px solid #2068a850;
        background: #d9e9ff;
        span {
          background-color: #013747;
        }
      }
    }
    .dragHandle {
      @extend .flexCenter;
      width: 41px;
      height: 100%;
      gap: 5px;
      border-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #d9d9d9;
      span {
        width: 1.8px;
        height: 13px;
        background-color: #555;
      }
    }
    .sectionName {
      font-family: "interRegular", sans-serif;
      min-width: 28%;
      font-size: 16px;
    }
    .consultant {
      width: 27%;
    }
    .sectionAuthor {
      width: 27%;
    }
    .enableSectionSwitch {
      width: 5%;
      height: 20px;
    }
  }
}
.sectionInputWrapper {
  border: 0 !important;
  margin-left: 3px !important;
  background-color: transparent !important;
}
.sectionInput {
  border: 0 !important;
  background-color: transparent !important;
  font-size: 16px !important ;
  margin-left: 3px !important;
}
.sectionInputError {
  border: 1px solid red !important;
}
.inValidSection {
  border: 1px solid red !important;
  box-shadow: 0 0 4px 5px #ff000005 !important;
  .sectionName {
    color: red !important;
  }
  .dragHandle {
    border-right: 1px solid red !important;
    background: #ff000020 !important;
    span {
      background-color: red !important;
    }
  }
}
.sectionRow,
.sectionRowActive {
  z-index: 9;
}
.deleteIcon {
  @extend .flexCenter;
  position: absolute;
  width: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.2s !important;
}
.sectionWrap {
  @extend .flexCenter;
  margin: 2px 0;
  &:hover {
    .deleteIcon {
      position: absolute;
      right: -38px;
      top: 0;
      opacity: 1;
      transition: all 0.2s !important;
      color: rgb(191, 2, 2);
      background-color: #ff000015;
    }
  }
}
.emtpyMsg {
  font-size: 14px;
  color: #adadad;
  font-family: "interRegular", sans-serif;
}
.errorMsg {
  color: rgb(191, 2, 2);
  background-color: #ff000015;
  border-radius: 6px;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 13px;
  user-select: none !important;
  -webkit-user-drag: none !important;
}
