.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tocWrapper {
  width: 100%;
}
.filters {
  @extend .flexcenter;
  justify-content: space-between;
  margin: 20px 0;
  margin-top: 0;
}
.rhs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.subGroupInput {
  margin-bottom: 10px;
}
.clearFilterBtn {
  font-size: 13px;
  font-family: "interMedium", sans-serif !important;
  color: var(--primary-violet);
  background-color: #593abb15;
  border-radius: 50px;
  width: 150px;
  padding: 5px 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DOCemptyMsg {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  span {
    font-family: "interMedium", sans-serif;
    font-size: 14px;
    color: #adadad;
    text-align: center;
    user-select: none !important;
    -webkit-user-drag: none !important;
  }
}
.topTOCHeader {
  width: 100%;
  @extend .flexcenter;
  justify-content: space-between;
}
.homePageTitleText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.editIcon {
  cursor: pointer;
  color: #333;
  margin-left: 10px;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  background-color: #adadad30;
  &:hover {
    background-color: #adadad30;
    border-radius: 50%;
    transition: all 0.2s;
  }
  transition: all 0.2s;
}
.versionPill {
  height: 20px;
  border-radius: 4px;
  font-size: 11px;
  font-family: "interMedium", sans-serif !important;
  padding: 5px 11px;
  letter-spacing: 0.7px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 1px 5px #00000030; */
  color: #eff5ff;
  background: #666666;
  border: 0;
}
.versionPillsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.initiateVersionPopup{
  text-align: center;
  .popupTitle{
    margin-bottom: 15px;
  }
  .chechBoxWrapper{
    display: flex;
    justify-content: space-around;
    span{
      cursor: pointer;
    }
  }
}
