.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tocWrapper {
  width: 100%;
}
.filters {
  @extend .flexcenter;
  justify-content: space-between;
  margin: 20px 0;
  margin-top: 0;
}
.rhs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.subGroupInput {
  margin-bottom: 10px;
}
.clearFilterBtn {
  font-size: 13px;
  font-family: "interMedium", sans-serif !important;
  color: var(--primary-violet);
  background-color: #593abb15;
  border-radius: 50px;
  width: 150px;
  padding: 5px 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DOCemptyMsg {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  span {
    font-family: "interMedium", sans-serif;
    font-size: 14px;
    color: #adadad;
    text-align: center;
    user-select: none !important;
    -webkit-user-drag: none !important;
  }
}
.topTOCHeader {
  width: 100%;
  @extend .flexcenter;
  justify-content: space-between;
}
