.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionWrapper {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  border: 1px solid #adadad40;
  padding: 10px;
  border-radius: 5px;
  height: calc(100vh - 88px);
  // max-height: calc(100vh - 95px);
  // min-height: calc(100vh - 95px);
  // overflow: auto;
}
.allSectionWrapper {
  height: 92%;
  max-height: calc(100vh - 95px);
  // min-height: calc(0vh - 95px);
  overflow: auto;
  padding: 0px 15px;
}
.promotedBtnWrapper {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentWrapper {
  width: 78%;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  margin-left: 15px;
}
.commentsToggleBtn {
  // width: 20px;
  // height: 20px;
  @extend .flexCenter;
  // background-color: #eee;
  background-color: #e8e1ff;
  padding: 5px 10px;
  border-radius: 4px;
  // border: 1px solid #adadad40;
  border: 1px solid #cab9ff;
  // box-shadow: 0px 0 10px #00000015;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  position: absolute;
  top: -0px;
  left: -40px;
  img {
    width: 20px;
    height: 20px;
  }
}
